
body{
    margin: 0;
    font-size: 14px;
    color: #787878;
    
}

*,
*::before,
*::after{
    box-sizing: border-box;
}



.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.header__icon{
    display: block;
    width: 115px;
    height: 44px;
    fill: rgb(49, 114, 185);
}



.header{
    padding-top: 36px;
    padding-bottom: 30px;
}

h2{
    font-size: 36px;
    font-weight: 100;
    color: #414141;
    opacity: 80%;
}

.header__inner{
    display: flex;
    justify-content: space-between;
}


/* Section Hero */


.hero__inner{
    position:absolute;
    text-align: left;
    width: 100%;
    max-width: 585px;
    z-index: 1;
}

.main__image{
    width: 100%;
    background-size: cover;
}




h1{
    font-size: 40px;
    font-weight: lighter;
    color: #1c1c1c;
    margin-bottom: 20px;
}



.section__testimonial{
    text-align: center;
    margin: 200px 0;
}


/* Testimonial job*/

.testimonial__job{
    margin: 50px 0 200px;
}

.job__inner{
    display: flex;
    flex-wrap: wrap;
}

.job__item{
    width: 25%;
    max-width: 250px;
    padding: 60px 10px;
    border: 1px solid #333;
    margin: 0 14px;
}

.job__item:first-child{
    margin-left: 0;
}

.job__item:last-child{
    margin-right: 0;
}

.job__item:hover{
    background-color: #4086d3;
    color:#fff;
    transition: 0.5s;
    fill: #fff;
}

.job__item:hover .testimonial__icon{
    fill: #fff;
}

.job__item:hover .job__title{
    color: #fff;
}


.job__title{
    color: #000;
}


.job__text{
    line-height: 1.5;
}

.testimonial__icon{
    width:86px;
    height:66px;
    fill:rgb(49, 114, 185);
}



/* Section__testimonial_review */

.testimonial__review{
    margin: 100px 0 160px;
}

.review__inner{
    display: flex;
    flex-wrap: wrap;
}

.review__item{
    width: 33%;
    max-width: 350px;
    padding: 60px 35px;
    border: 1px solid #787878;
    margin: 0 14px;
}

.review__item:first-child{
    margin-left: 0px;
}

.review__text{
    padding-bottom: 30px;
    border-bottom: 1px solid #787878;
}



.review__icon{
    position: relative;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 30px;
}


/* Contacts */

.contacts{
    margin: 70px 0 170px;
}

.contacts__inner{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.contacts__item{
    width: 33%;
    max-width: 250px;
    margin-left: 140px;
}

.contacts__item:first-child{
    margin-left: 0;
}

.contacts__icon{
    width: 26px;
    height: 26px;
}

/* Button */
.btn {
    text-transform: uppercase;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 18px 35px 18px 35px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }