
body{
    width: 1920px;
    margin: auto;
    background-color: #E5E5E5;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 32px;
}


*,
*::before,
*::after{
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5{
    margin: 0;
}

p{
    margin: 0 0 10px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.btn{
    cursor: pointer;
    background-color: #FF9900;
    border-radius: 16px;
}

/* Container */


.container{
    max-width: 1770px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* header */

.header{
    height: 100%;
    max-height: 100px;
    background-color: #fff;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header__nav-list{
    display: flex;
    margin: auto;
}


/* main */

.section-hero{
    margin-top: 50px;
    color: #fff;
}



.section-hero__container{
    border-radius: 32px;
    background: url('/image/section-hero-img/low-angle-photo-of-balconies-2462015\ 1.png')wheat no-repeat;
    height: 620px;
}

.section-hero__content{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 80px;
    padding-right: 853px;
}

.section-hero__heading{
    font-size: 70px;
    font-weight: bolder;
    line-height: 85.33px;
    margin-bottom: 24px;
}

.section-hero__description{
    font-size: 24px;
    line-height: 29.26px;
    font-weight: 700;
    margin-bottom: 90px;
}

.section-hero__btn{
    padding: 25px 39px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

/* footer */

footer{
    background-color: #000000;
}