
body{
    margin: 0 auto;
    background-color: #E5E5E5;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 32px;
}


*,
*::before,
*::after{
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5{
    margin: 0;
}

p{
    margin: 0 0 10px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.section-heading{
    font-size: 48px;
    line-height: 58.51px;
    font-weight: 400;
}

.btn{
    cursor: pointer;
    background-color: #FF9900;
    border-radius: 16px;
}

/* Container */


.container{
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* header */

.header{
    height: 100%;
    max-height: 100px;
    background-color: #fff;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 14px;
    padding-bottom: 14px;
}

.header__nav-list{
    display: flex;
}

.header__nav-link:hover{
    border-bottom: 2px solid #FF9900;
}

.header__nav-link:focus{
    border: 2px solid #FF9900;
}

.header__nav-link:active{
    border-bottom: 2px solid #E1670E;
    color: #E1670E;
}



.header__nav-item{
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    color: #000000;
}

.header__nav-link:not(:nth-last-child(1)){
    margin-right: 85px;
}



/* main */

.section-hero{
    margin-top: 50px;
    color: #fff;
}



/* .section-hero__container{
    border-radius: 32px;
    background: url('/image/section-hero-img/low-angle-photo-of-balconies-2462015\ 1.png')wheat no-repeat ;
    background-size: cover;
    height: 620px;
} */


.section-hero__container-swiper-image{
    position: relative;
    border-radius: 32px;
    background-size: cover;
    height: 620px;
}

#bg-image-1{
    background-image: url('/image/section-hero-img/apartment-apartment-building-architecture-building-323705\ 2.png');
}

#bg-image-2{
    background-image: url('/image/section-hero-img/brown-and-blue-glass-building-2093076\ 2.png');
}

#bg-image-3{
    background-image: url('/image/section-hero-img/low-angle-photo-of-balconies-2462015\ 1.png');
}


.section-hero__content{
    width: 100%;
    max-width: 837px;
    position: absolute;
    top: 210px;
    left: 300px;
    z-index: 1;
}

.section-hero__heading{
    font-size: 70px;
    font-weight: bolder;
    line-height: 85.33px;
    margin-bottom: 24px;
}

.section-hero__description{
    font-size: 24px;
    line-height: 29.26px;
    font-weight: 700;
    margin-bottom: 90px;
}

.section-hero__btn{
    padding: 25px 39px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

.section-hero__btn:hover{
    background-color: #FFB84D;
}

.section-hero__btn:focus{
    background-color: #FFB84D;
}

.section-hero__btn:active{
    background-color: #E1670E;
}


/* section hero */

.section-about{
    margin-bottom: 100px;
}

.section-about__content{
    margin-top: 40px;
    margin-bottom: 50px;
}

.section-about__section-heading{
    margin-bottom: 20px;
}

.section-about__description{
    width: 100%;
    max-width: 1235px;
}

.section-about__bottom-content{
    display: flex;
    flex: 0 0 50%;

}

.section-about__bottom-left-content{
    background: url('/image/section-about-img/Rectangle\ 2.png') no-repeat;
    height: 622px;
    width: 100%;
    max-width: 868px;
    border-radius: 32px;
}

.section-about__bottom-left-inner{
    display: flex;
    align-items: center;
    position: relative;
    top: 416px;
    flex: 0 0 50%;
    justify-content: space-between;
    padding: 50px;
    background-color: #00000080;
    border-radius: 32px;
}


.section-about__bottom-left-text{
    width: 433px;
    color: #fff;
}

.section-about__bottom-left-button{
    font-size: 16px;
    line-height: 19.5px;
    padding: 19px 38px 19px 38px;
    border: 3px solid #FF9900;
    color: #fff;
    background-color:transparent;
}

.section-about__bottom-left-button:hover{
    background-color: #FF9900;
    transition: 0.2s;
}

.section-about__bottom-left-button:focus{
    background-color: #FF9900;
    transition: 0.2s;
}

.section-about__bottom-left-button:active{
    background-color: #E1670E;
    border-color: #E1670E;
    transition: 0.2s;
}





.section-about__bottom-right-content{
    margin-left: 32px;
}

.section-about__bottom-right-inner{
    border: 1px solid #CACACA;
    border-radius: 32px;
    display: flex;
    padding: 65px 80px 65px 60px;
}

.section-about__bottom-right-inner:first-child{
    margin-bottom: 32px;
}

.section-about__bottom-right-icon{
    width: 195px;
    height: 165px;
}

.section-about__bottom-right-info{
    margin-left: 50px;
}

.section-about__bottom-header{
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 29.26px;
}


/* section how */

.section-how{
    margin-bottom: 100px;
}

.section-how__section-heading{
    margin-bottom: 50px;
}

.section-how__steps-list{
    display: flex;
    margin-bottom: 45px;
}

.section-how__steps-link{
    padding: 5px;
    font-size: 18px;
    line-height: 21.94px;
    color: #000000;
    margin-right: 85px;
}

.section-how__steps-link:hover{
    color: #FF9900;
    transition: 0.2s;
}

.section-how__steps-link:focus{
    border: 1px solid #FF9900;
    transition: 0.2s;
}

.section-how__steps-link:active{
    color: #E1670E;
    transition: 0.2s;
}



.section-how__steps-link:last-child{
    margin-right: 0;
}

.section-how__steps-header{
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 8px;
}

.section-how__steps-inner{
    display: flex;
    flex: 0 0 50%;
}

.section-how__steps-inside{
    width: 100%;
    max-width: 758px;
    margin-right: 142px;
}

.section-how__steps-description{
    margin-bottom: 18px;
}

.section-how__btn{
    padding: 20px 38px;
    font-size: 16px;
    line-height: 19.5px;
}

.section-how__btn-more{
    font-weight: 700;
    color: #FFFFFF;
    margin-right: 32px;
}

.section-how__btn-more:hover{
    background-color: #FFB84D;
    transition: 0.2s;
}

.section-how__btn-more:focus{
    background-color: #FFB84D;
    transition: 0.2s;
}

.section-how__btn-more:active{
    background-color: #E1670E;
    transition: 0.2s;
}

.section-how__btn-treaty{
    font-weight: 400;
    color: #000000;
    border: 1px solid #000000;
    background-color: #E5E5E5;
}

.section-how__btn-treaty:hover{
    background-color: #666666;
    color: #FFFFFF;
    transition: 0.2s;
}

.section-how__btn-treaty:focus{
    background-color: #666666;
    color: #FFFFFF;
    transition: 0.2s;
}

.section-how__btn-more:active{
    background-color: #000000;
    color: #FFFFFF;
    transition: 0.2s;
}

.section-how__steps-image{
    background: url('/image/section-how-img/1st.png') no-repeat;
    width: 870px;
    height: 460px;
    float: right;
}


/* section faq */
.section-faq{
    margin-bottom: 100px;
}

.section-faq__section-heading{
    margin-bottom: 32px;
}

.section-faq__questinos-accordeon-button{
    background-color: #E5E5E5;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    padding-top: 40px;
    padding-bottom: 40px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    border-top: 1px solid #CACACA;
    border-bottom: 1px solid #CACACA;
    outline: none;
    transition: 0.4s;
}

.section-faq__questinos-accordeon-button:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }


.section-faq__questinos-accordeon-text{
    width: 100%;
    max-width: 1003px;
    color: #000000;
    display: none;
    overflow: hidden;
}


.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* footer */

footer{
    background-color: #000000;
    color: #CACACA;
}

.footer-inner{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex: 0 0 33%;
}

.footer-left__nav{
    margin-bottom: 90px;
}

.footer-left__nav-link{
    font-size: 18px;
    line-height: 36px;
    color: #CACACA;
}


.footer-left__social-list{
    display: flex;
}

.footer-left__social-item:not(:nth-last-child(1)){
    margin-right: 25px;
}


.footer-center{
    width: 100%;
    max-width: 570px;
    margin-left: 349px;
    margin-right: 236px;
}


.footer-center__feedback-form{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.input{
    background-color: #414141;
}

.input:not(:nth-last-child(2)){
    border-radius: 16px;
    margin-bottom: 25px;
    height: 55px;
}

.input:nth-last-child(2){
    border-radius: 16px;
    margin-bottom: 32px;
}

.btn-submit{
    width: 100%;
    max-width: 269px;
    padding: 19px 38px 19px 38px;
    margin: 0 auto;
}

.footer-right{
    width: 100%;
    max-width: 363px;
    padding-top: 87px;
    padding-bottom: 87px;
    
}

/* media 768px */
@media(max-width:768px){

    .header{
        max-width: 768px;
        width: 100%;
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
    }

    .container{
        width: 100%;
        max-width: 668px;
        margin: 0 auto;
    }

    .header__logo{
        margin: 0 auto;
    }
    .header__nav{
        display: none;
    }
    /* header */

    .section-hero__container{
        width: 668px;
        height: 662px;
    }

    .section-hero__content{
        width: 100%;
        max-width: 588px;
        padding: 10px 40px;
        left: 100px;
    }

    .heading{
        font-size: 50px;
        line-height: 60.95px;
        font-weight: 800;
    }


    .section-hero__description{
        font-size: 18px;
        line-height: 21.94px;
        font-weight: 700;
        
    }

    .section-hero__btn{
        font-size: 23px;
        line-height: 28.04px;
        padding: 25px 39px;
    }

    /* main */


    .section-about__bottom-content{
        display: block;
    }

    .section-about__bottom-left-content{
        margin-bottom: 85px;
    }

    .section-about__bottom-left-inner{
        top: 385px;
    }

    .section-about__bottom-right-content{
        margin-left: 0;
    }
    
    .section-how__steps-inner{
        display: block;
    }

    .section-how__steps-list
    {
        justify-content: space-between;
    }


    .section-how__steps-image{
        height: 284px;
        width: 668px;
        border-radius: 24px;
        margin-bottom: 38px;
    }

    .section-how__steps-description{
        margin-bottom: 25px;
    }

    /* footer */

    .footer-inner{
        display: flex;
        flex-direction: column-reverse;
    }

    .footer-left{
        position: relative;
        top: -190px
    }

    .footer-left__nav{
        margin: 0;
    }

    .footer-left__nav-list{
        display: none;
    }

    .footer-center{
        max-width: 100%;
        margin: 0 auto;
        padding: 50px 177px 248px 50px;
    }

    .footer-right{
        display: none;
    }
}