
body{
    margin: 0;
    background-color: #E5E5E5;
}


*,
*::before,
*::after{
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5{
    margin: 0;
}

p{
    margin: 0 0 10px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Container */


.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* header */

.header{
    height: 100%;
    max-height: 100px;
    background-color: #fff;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header__nav-list{
    display: flex;
    margin: auto;
}

/* footer */

footer{
    background-color: #000000;
}