body{
    margin: 0;
    background-color: #E5E5E5;
    box-sizing: border-box;
    font-size: 16px;
    color: #000000;
}

.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.services{
    display: flex;
    flex-wrap: wrap;
}