body{
    margin: 0;
    background-color: #E5E5E5;
    box-sizing: border-box;
    font-size: 16px;
    color: #000000;
    line-height: 2;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    cursor: pointer;
}

h2.section-header{
    margin-left: 40px;
}


/* btn class */

.btn{
    color: #CC9933;
    padding: 13px 20px;
    border: 1px solid  #CC9933;
    border-radius: 10px;
}

.btn:hover{
    color: #FFFFFF;
    background-color: #CC9933;
    transition: 0.1s;
}

.btn:focus{
    color: #FFFFFF;
    background-color: #CC9933;
}

.btn:active{
    color: #FFFFFF;
    background-color: #A47312;
}

.header-phone,
.personal-cabinet{
    display: inline-block;
    color: #666666;
}

.header-phone:hover,
.personal-cabinet:hover{
    color: #CC9933;
}


.header-phone:focus,
.personal-cabinet:focus{
    color: #CC9933;
    border: 1px solid #CC9933;
}

.header-phone:active,
.personal-cabinet:active{
    color: #A47312;
}


.services-header-link{
    color: #CC9933;
}

.services-header-link:hover{
    color: #F0BF5F;
}

.services-header-link:focus{
    color: #CC9933;
}

.services-header-link:active{
    color: #A47312;
}

/* Header */
.header-top{
    padding-top: 30px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top-left{
    display: flex;
    align-items: center;
}

.header-icon{
    margin-right: 40px;
}

.header-bottom{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding: 27px 45px;
    background-color: #FFFFFF;
    border-radius: 15px;
}

h2.left-heading{
    font-size: 40px;
    color: #fff;
}

h2.right-heading{
    font-size: 60px;
    color: #fff;
}

.nav-list{
    display: flex;
}

.nav-item:not(:last-child){
    margin-right: 45px;
}

.callback-links:not(:last-child){
    margin-right: 30px;
}

.nav-link{
    color: #666666;
}

/* section special offers */

.section-special-offers{
    margin-top: 70px;
}

.special-offers-main{
    display: flex;
    flex: 1 1 50%;
    justify-content: space-between;
}


/* section about */

.section-about{
    margin-top: 40px;
}

.about-text{
    width: 888px;
    height: 100%;
}


/* section services */

.section-services{
    margin-top: 70px;
}

.services{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 50%;
}

.services-inner{
    background-color: #fff;
    width: 100%;
    max-width: 573px;
    border-radius: 15px;
    margin-bottom: 24px;
    
}

.services-inner:nth-child(2n){
    margin-left: 24px;
}

.services-description{
    padding: 26px 126px 35px 45px;
}



/* section benefits */

.section-benefits{
    margin-top: 56px;
}

.benefits{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 25%;
}

.benefits-inner{
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
    max-width: 276px;
    margin-bottom: 22px;
}

.benefits-inner:not(:nth-child(4n)){
    margin-right: 22px;
}

.benefits-inner-info{
    padding: 40px 42px 32px 45px;
}


/* section-hosting */

.section-hosting{
    margin-top: 52px;
}

.hosting{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 33.33%;
}

.hosting-inner{
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
    max-width: 374px;
    margin-bottom: 24px;
    height: 440px;
}

.hosting-inner:not(:nth-child(3n)){
    margin-right: 24px;
}

.hosting-inner-info{
    padding: 0px 35px 25px 35px;
}

.hosting-price-and-score{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all-hostings-img{
    position: relative;
}

.all-hostings-btn{
    position:relative;
    top: -50px;
    left: 55px;
}

h5.hosting-place{
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
}

.hosting-country{
    margin-bottom: 20px;
    color: #999999;
}


