@font-face{
    font-family: 'Muller';
    src: url("/fonts/MullerLight.woff") format('woff');
    font-weight: lighter;
}

@font-face{
    font-family: 'Muller';
    src: url("/fonts/MullerLight.woff2") format('woff2');
    font-weight: lighter;
}

@font-face{
    font-family: 'Muller';
    src: url("/fonts/MullerMedium.woff") format('woff');
    font-weight: 500;
}

@font-face{
    font-family: 'Muller';
    src: url("/fonts/MullerMedium.woff2") format('woff2');
    font-weight: 500;
}

@font-face{
    font-family: 'Muller';
    src: url("/fonts/MullerRegular.woff") format('woff');
}

@font-face{
    font-family: 'Muller';
    src: url("/fonts/MullerRegular.woff2") format('woff2');
}

@font-face{
    font-family: 'Muller';
    src: url("/fonts/MullerBold.woff") format('woff');
    font-weight: bold;
}

@font-face{
    font-family: 'Muller';
    src: url("/fonts/MullerBold.woff2") format('woff2');
    font-weight: bold;
}

body{
    font-family: 'Muller';
    margin: 0;
    background-color: #E5E5E5;
    box-sizing: border-box;
    font-size: 16px;
    color: #000000;
    line-height: 2;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    cursor: pointer;
}

h2.section-header{
    margin-left: 40px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;

}

h2{
    margin-top: 0;
}

h4{
    margin: 0;
}


/* btn class */

.btn{
    color: #CC9933;
    padding: 13px 20px;
    border: 1px solid  #CC9933;
    border-radius: 10px;
}

.btn:hover{
    color: #FFFFFF;
    background-color: #CC9933;
    transition: 0.1s;
}

.btn:focus{
    color: #FFFFFF;
    background-color: #CC9933;
}

.btn:active{
    color: #FFFFFF;
    background-color: #A47312;
}

.header-phone,
.personal-cabinet{
    padding: 5px;
    display: inline-block;
    color: #666666;
}

.header-phone:hover,
.personal-cabinet:hover,
.nav-link:hover
{
    color: #CC9933;
}


.header-phone:focus,
.personal-cabinet:focus,
.nav-link:focus
{
    color: #CC9933;
    border: 1px solid #CC9933;
}

.header-phone:active,
.personal-cabinet:active,
.nav-link:active
{
    color: #A47312;
}


.services-header{
    font-weight: 500;
    font-size: 20px;
}

.services-header-link{
    color: #CC9933;
}

.services-header-link:hover{
    color: #F0BF5F;
}

.services-header-link:focus{
    color: #CC9933;
}

.services-header-link:active{
    color: #A47312;
}



.special-offers-btn:hover{
    color: #F0BF5F;
}

.special-offers-btn:focus{
    color: #F0BF5F;
}

.special-offers-btn:active{
    color: #FFFFFF;
}

/* Header */
.header-top{
    padding-top: 30px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top-left{
    display: flex;
    align-items: center;
}

.header-icon{
    margin-right: 40px;
}

.header-bottom{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding: 27px 45px;
    background-color: #FFFFFF;
    border-radius: 15px;
}

h2.left-heading{
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
}

h2.right-heading{
    font-weight: 700;
    font-size: 60px;
    line-height: 1;
    color: #fff;
    width: 100%;
    max-width: 299px;
}

.nav-list{
    display: flex;
    font-weight: normal;
}

.nav-item:not(:last-child){
    margin-right: 45px;
}

.callback-links:not(:last-child){
    margin-right: 30px;
}

.nav-link{
    padding: 5px;
    color: #666666;
}

/* section special offers */

.section-special-offers{
    margin-top: 70px;
}

.special-offers-main{
    display: flex;
    flex: 1 1 50%;
    justify-content: space-between;
}



.special-offers-left-first{
    margin-bottom: 24px;
    background: url('/Lagoona/maldive.png') center no-repeat;
    width: 573px;
    height: 258px;
}


.special-offers-left-second{
    background: url('/Lagoona/crit.png') center no-repeat;
    width: 573px;
    height: 258px;
}

.special-offers-right-main{
    background: url('/Lagoona/lux.png') center no-repeat;
    width: 573px;
    height: 540px;
}

.special-offers-text{
    padding: 40px 108px 40px 45px;
}

.special-offers-main-text{
    padding: 212px 229px 40px 45px;
}

.special-offers-price{
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    color: #FFFFFF;
}

.special-offers-btn{
    font-size: 16px;
    line-height: 1;
    color: #F0BF5F;
}

/* section about */

.section-about{
    margin-top: 40px;
}

.about-text{
    margin: 0;
    width: 888px;
    height: 100%;
}


/* section services */

.section-services{
    margin-top: 70px;
}

.services{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 50%;
}

.services-inner{
    background-color: #fff;
    width: 100%;
    max-width: 573px;
    border-radius: 15px;
    margin-bottom: 24px;
    
}

.services-text{
    margin: 0;
}

.services-inner:nth-child(2n){
    margin-left: 24px;
}

.services-description{
    padding: 26px 126px 35px 45px;
}



/* section benefits */

.section-benefits{
    margin-top: 56px;
}

.benefits{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 25%;
}

.benefits-inner{
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
    max-width: 276px;
    margin-bottom: 22px;
}


.benefits-text{
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    margin: 0;
}

.benefits-inner:not(:nth-child(4n)){
    margin-right: 22px;
}

.benefits-inner-info{
    padding: 40px 42px 32px 45px;
}


/* section-hosting */

.section-hosting{
    margin-top: 52px;
    margin-bottom: 70px;
}

.hosting{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 33.33%;
}

.hosting-inner{
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
    max-width: 374px;
    margin-bottom: 24px;
    height: 440px;
}

.hosting-inner:not(:nth-child(3n)){
    margin-right: 24px;
}

.hosting-inner-info{
    padding: 0px 35px 25px 35px;
}

.hosting-price-and-score{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hosting-price{
    margin: 0;
}


.all-hosting-img{
    position: relative;
    background: url("/Lagoona/hotels/41.png") center no-repeat;
    width: 374px;
    height: 440px;
    
}

.all-hostings-btn{
    font-size: 20px;
    line-height: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    top: -50px; 
    color: #FFFFFF;
}

h5.hosting-place{
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}

.hosting-country{
    margin-top: 0;
    margin-bottom: 20px;
    color: #999999;
}


/* section tour */

.section-tour{
    padding-top: 45px;
    padding-bottom: 45px;
    background: #E9E9E9;
    border-radius: 15px;
    margin-bottom: 70px;

}

.inside{
    padding-left: 45px;
    padding-right: 45px;
}

.tour-form{
    display: flex;
    margin: 0;
    padding: 31px 28px 20px;
    background-color: #FFFFFF;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
}



.name-form{
    margin-right: 41px;
    padding: 0;
}

.name-form:last-child(5){
    margin-right: 51px;
}

.form-text{
    margin-top: 15px;
    display: block;
    border: none;
}

.form-date{
    margin-top: 15px;
    display: block;
    border: none;
}

.btn-submit{
    padding: 13px 30px;
}



/* section contacts */

.section-contacts{
    margin-bottom: 40px;
}

.contacts-inner{
    display: flex;
    justify-content: space-between;
    padding: 45px;
    background-color: #fff;
    border-radius: 15px;
}

.address-info{
    width: 100%;
    max-width: 375px;
}

.address-header{
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    font-style: normal;
}

.address-description{
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    display: flex;
    flex-direction: column;
}

.address-item{
    display: flex;
    justify-content: space-between;
    padding-bottom: 23px;
    margin-bottom: 25px;
    border-bottom: 1px solid #E9E9E9;
}

.address-inner{
    display: flex;
}

.address-number{
    display: flex;
    flex-direction: column;
}


.contacts-img{
    background: url('/Lagoona/contacts-img.png') no-repeat;
    width: 653px;
    height: 528px;
}

/* footer */

.footer{
    margin-bottom: 30px;

    font-size: 16px;
}

.footer-inner{
    display: flex;
    color: #FFFFFF;
    background-color: #333;
    border-radius: 15px;
    padding: 45px;
    position:relative;
    z-index: 1;
}

.footer-logo{
    position: absolute;
    left: 738px;
    right: 176px;
    top: 129px;
    z-index: -1;
}


.footer-copyright-info{
    margin: 0;
    margin-bottom: 35px;
}

.footer-site-description{
    margin: 0;
    margin-bottom: 40px;
}

.full-address{
    margin: 0;
    margin-bottom: 15px;
}

.footer-left{
    width: 100%;
    max-width: 302px;
}

.footer-address{
    margin-left: 125px;
    width: 100%;
    max-width: 359px;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}

.footer-phone{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

}

.footer-mail{
    display: flex;
    flex-direction: column;
}

.footer-links{
    margin-left: 300px;
}

.social-items{
    margin-bottom: 10px;
}

.social-items:last-child{
    margin-bottom: 0;
}

