body{
    background-color: rgb(41, 40, 40);
}

.header{
    position: relative;
    margin-top: 50%;
    margin-left: 50%;

}

.header,  a{

    color: #fff;

}

.head__links a{
    text-decoration: none;
    padding: 15px 10px;
    font-size: 11px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#download__link{
    background-color: rgb(22, 29, 223);
}

#more__link{
    border: 2px white solid;
}