body{
    background-color: rgb(41, 40, 40);
}


.header{
    justify-content: center;
    padding-top: 250px;
    padding-left: 40%;

}

h1{
    justify-content: center;
    padding-left: 66px;
}
.header,  a{

    color: #fff;

}

.head__links a{
    text-decoration: none;
    padding: 20px 10px;
    font-size: 11px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#download__link{
    background-color: rgb(22, 29, 223);
}

#more__link{
    border: 2px white solid;
}